* {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    overflow-x: hidden;
    /*border: 1px solid red;*/
}

.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 75px;
    background-color: aqua;
    border: 0;
    font-weight: bold;
    color: white;
}

h1, a {
    text-decoration: none;
    color: white;
    letter-spacing: 3pt;
}
