* {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    overflow-x: hidden;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

main {
    display: flex;
    justify-content: center;
}

.box1, .box2 {
    background-color: #ff253a;
    color: white;
    padding: 5px;
}


/***********************************************************/
/* VOLVER */

.a-div {
    text-align: center;
}