* {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: small;
    /*border: 1px solid red;*/
}

#big-box {
    display: flex;
    flex-flow: column wrap;
    background-color: #c9c9c9;
    margin: auto;
    width: 60%;
    margin-top: 50px;
    justify-content: center;
}

.box {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #c9c9c9;
}

.box1, .box2 {
    text-align: center;
    background-color: #c96a6f;
    color: white;
    padding: 5px;
    margin: 5px;
    width: 100px;
}


/***********************************************************/
/* VOLVER */

.a-div {
    text-align: center;
}